fastapi
uvicorn
python-multipart
PyPDF2
"fastapi[all]"
"python-jose[cryptography]"
"passlib[bcrypt]"
pymongo
mongoose
pyjwt
bcrypt
python-jose
transformers
accelerate
bitsandbytes
langchain
langchain-community
langchain-chroma
chromadb
langchain_nomic
pypdf
google-generativeai